<% include ../header.ejs %>

<form>
  标题：<br />
  <input type="text" id="title" name="title"/><br />

  icon：<br/>
  <input type="file" accept="image/*"
         onchange="news.handleFiles(this.files)">
  <!--<a href="#" id="fileSelect">Select some files</a>-->
  <img id="icon"/>
  <input type="hidden" id="icon-url"/>

  <br/>
  是否显示:<input type="checkbox" id="isShow" name="isShow" checked="checked"/>
  <br/>

  正文：<br />
  <textarea id="body" name="body"></textarea>
  <br />
  <input type="submit" value="添加" />
</form>

<% include ../kindeditorJs.ejs %>

<% include footer.ejs %>
<script src="/pc/js/admin/news/add.js"></script>



<% include ../footerHtml.ejs %>
