<% include ../header.ejs %>

<form method="post" action="/pc/admin/news">
  标题：<br />
  <input type="text" name="title"/><br />
  正文：<br />
  <textarea id="body" name="body"></textarea>
  <br />
  <input type="submit" value="添加" />
</form>

<% include ../kindeditorJs.ejs %>

<% include ../footer.ejs %>
<% include ../footerHtml.ejs %>
