<% include ../header.ejs %>
<h1>最新消息</h1>

<div id="content">
    <% include content.ejs %>
</div>

<ul>
    <li class="add">
        <a href="/pc/admin/news/addPage">添加</a>
    </li>
</ul>



<% include footer.ejs %>
<% include ../footerHtml.ejs %>
