<% include ../header.ejs %>
<h1>最新消息</h1>

<div id="content">
    <% include newsContent.ejs %>
</div>

<ul>
    <li class="add">
        <a href="/admin/news/addPage">添加</a>
    </li>
</ul>



<% include ../footer.ejs %>
<script src="/js/admin/index.js"></script>
<script src="/js/admin/news/news.js"></script>
