<% include ../header.ejs %>

<form action="/admin/news">
    标题：<br />
    <input type="text" id="title" name="title" value="<%=news.title%>" /><br />
    正文：<br />
  <textarea id="body" name="body">
     <%= news.body %>
  </textarea>
    <br />
    <input type="submit" value="提交" />

    <input id="id" type="hidden" value="<%=news._id%>"/>
</form>

<% include ../kindeditorJs.ejs %>

<% include ../footer.ejs %>

<script src="/js/admin/news/update.js"></script>
<% include ../footerHtml.ejs %>
