@import "mixin/image";

nav{
  >ul {
    > li {
      width: 175px;
      height: 68px;
      text-align: center;
      display: table;
      margin-right: 20px;
      float: left;
      cursor: pointer;
    }
  }
  >ul.clearfix{
    height:100%;
  }


    .dropdown{
      position:absolute;
      z-index:1000;
      left:195px;
      top:67px;
      width:175px;
      border:1px solid red;
      display:none;

      li{
        width:100%;
        height: 50px;
        line-height:50px;

        &:hover{
          background-color:rgb(87, 52, 173);
        }

        a{
          font-weight:bolder;
          display:block;
          width:100%;
          height:100%;
          color:rgb(43,35,91);

          &:hover{
            color:#ffffff;
            text-decoration:none;
          }
        }
      }
    }
}

.container {
  > header {
    position: relative;
    nav {
      a{
        display:block;
      }
      li.hotnews a{
        @include backImg("../image/nav/hotnews.png", 100%, 100%);
      }
      li.description a{
        @include backImg("../image/nav/description.png", 100%, 100%);
      }
      li.comment a{
        @include backImg("../image/nav/comment.png", 100%, 100%);
      }
    }
  }

  .bird{
    @include backImgWithPosition('../image/nav/bird.png', 100px, 100px, -20px, -30px);
  }
  .download{
    @include backImgWithPosition('../image/nav/download.png', 215px, 85px, -10px, 585px);
    cursor: pointer;
  }
  .banner {
    position: relative;
    top: -398px;

    img {
      width: 100%;
      height: 100%;
    }

    .title {
      @include absolute(500px, 350px, -21px, 0, null, -80);
    }

    .bg {
      @include absolute(1000px, 398px, 0, -100px, null, -90);
    }
  }
}

