<nav>
    <ul class="clearfix">
        <li class="hotnews">
            <a href="/news"><img src="/pc/image/nav/hotnews.png"/></a>
        </li>
        <li class="description">
            <a href=""><img src="/pc/image/nav/description.png"/></a>
        </li>
        <li class="comment">
            <a href=""><img src="/pc/image/nav/comment.png"/></a>
        </li>
    </ul>
    <ul class="dropdown">
        <!--todo dynamic-->

        <li><a href="/description">神秘故事</a></li>
        <li><a href="/description">技能介绍</a></li>
        <li><a href="/description">世界探索</a></li>
        <li><a href="/description">游戏入门</a></li>
        <li><a href="/description">游戏进阶</a></li>
        <li><a href="/description">游戏组合</a></li>
        <li><a href="/description">游戏秘籍</a></li>
    </ul>
</nav>
<a href="/news" class="bird">
    <img src="/pc/image/nav/bird.png"/>
</a>
<!--<a href="./tryPlay" class="go-try-play">-->
    <!--<img src="/pc/image/index_try_play/gamedemo.png"/>-->
<!--</a>-->
<a class="download">
    <img src="/pc/image/nav/download.png"/>
</a>
<ul class="download-dropdown">
    <li class="icon"><a >
            <img src="/pc/image/icon.png"/>
        </a>
    </li>
    <li class="text"><span>时空召唤:英雄计划</span></li>
    <li class="code"><a >
            <img src="/pc/image/nav/code.jpg"/>
        </a>
    </li>
    <li class="text"><span>APP下载</span></li>
</ul>

