@charset "UTF-8";
body {
  background-image: url("/pc/image/bg/page_bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.body {
  margin-top: 20px;
  padding: 10px 20px; }
  .body .item {
    padding: 10px 35px;
    margin-bottom: 10px;
    background-color: white;
    position: relative;
    height: 134px; }
    .body .item:hover:after {
      content: "》";
      position: absolute;
      right: 0;
      top: 0;
      width: 20px;
      padding-left: 5px;
      height: 100%;
      line-height: 134px;
      padding-top: 10px \9;
      background-color: #eee9f2;
      color: #8e8695;
      font-size: 18px; }
    .body .item:hover {
      cursor: pointer; }
    .body .item h3 {
      font-size: 24px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
    .body .item p {
      color: #433352;
      margin: 0;
      word-wrap: break-word; }
    .body .item span {
      display: block;
      text-align: right;
      color: #433352; }

.page {
  text-align: center; }

.news-detail .body {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: white; }
  .news-detail .body span {
    margin-bottom: 10px;
    display: block; }
