<% include ../../header.ejs %>

<form>
  标题：<br/>
  <input type="text" name="title" id="title"/>

  正文：<br />
  <textarea id="body" name="body"></textarea>
  <br />
  <input type="submit" value="添加" />
</form>


<% include footer.ejs %>
<script src="/pc/js/admin/game/bulletinBoard/add.js"></script>
<% include ../../kindeditorJs.ejs %>



<% include ../../footerHtml.ejs %>
