<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>最新消息</title>

    <link href="/js/bower_components/bootstrap/dist/css/bootstrap.css" type="text/css" rel="stylesheet">
    <link href="/css/app.css" type="text/css" rel="stylesheet">

    <link href="/css/page.css" type="text/css" rel="stylesheet">

    <link href="/css/list.css" type="text/css" rel="stylesheet">
</head>
<body>

<% include logo2.ejs %>

<section class="container">
    <header>

        <% include nav.ejs %>

        <div class="banner">
            <div id="banner-bg" class="bg">
                <img src="/image/news/news.png">
            </div>
        </div>
    </header>

    <section class="content">
        <div class="header clearfix">
            <ul class="clearfix">
                <li class="line"></li>
                <li><h1>消息列表</h1></li>
            </ul>
            <ol class="breadcrumb">
                <li><a href="#">最新消息</a></li>
                <li class="active">消息列表</li>
            </ol>
        </div>

        <div class="body">
            <ul>
                <li class="item">
                    <h3>标题</h3>
                    <p>
                        在前端开发的过程中，一大部分的工作是写 HTML、CSS 代码。特别是手动编写 HTML 代码的时候，效率会特别低下，因为需要敲打很多尖括号，而且很多标签都需要闭合标签等。于是，就有了 Emmet，它可以极大的提高代码编写的效率，它提供了一种非常简练的语法规则，然后立刻生成对应的 HTML 结构或者 CSS 代码，同时还有多种实用的功能帮助进行前端开发。
                    </p>
                    <span>2015.04.15</span>
                </li>
                <li></li>
            </ul>

        </div>

        <div class="page">
            <ul class="pagination">
                <li><a href="#">首页</a></li>
                <li class="active"><a href="#">1</a></li>
                <li class="disabled"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">尾页</a></li>
            </ul>
        </div>









    <% include shared.ejs %>

    </section>

    <% include right_column.ejs %>

</section>


<% include pop_window.ejs %>


<% include footer.ejs %>


<script type="text/javascript">
    var jiathis_config={
        summary:"",
        shortUrl:false,
        hideMore:false
    }
</script>

<script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js" charset="utf-8"></script>

<script src="/js/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/js/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="/js/animation.js"></script>
<script src="/js/nav.js"></script>
<script src="/js/global.js"></script>
<script src="/js/news/index.js"></script>

</body>

</html>
