.try-play{
  .banner-title {
    //position: relative;
    //z-index:6;
    //margin:0 auto;
    //width:1200px;
    //height:550px;
    top:17px;
    //left:240px;
    left:50%;
    width:430px;
    height:313px;
    margin-left:-497px;

    .title {
    }
  }

  .banner-bg{
    top:-43px;
    //left:50%;
    //margin-left:-600px;

    .bg {
      //position:static;
    }
  }
}
