<% include ../header.ejs %>

<form method="post" action="/admin/descriptionCategory">
  类别：<br />
  <input type="text" id="name" name="name"/><br />
  <input type="submit" value="添加" />
</form>


<% include ../footer.ejs %>
