@mixin absolute($width:0, $height:0, $top:0, $left:null, $right:null, $zIndex:0){
  position:absolute;
  @include _pos($width, $height, $top, $left, $right, $zIndex);
}

@mixin fixed($width:0, $height:0, $top:0, $left:null, $right:null, $zIndex:0){
  position:fixed;
  @include _pos($width, $height, $top, $left, $right, $zIndex);
}
@mixin _pos($width:0, $height:0, $top:0, $left:null, $right:null, $zIndex:0){
  @if($left != null){
    left:$left;
  }
  @if($right != null){
    right:$right;
  }
  top:$top;
  width:$width;
  height:$height;
  z-index: $zIndex;
}
