@mixin absolute($width:0, $height:0, $top:0, $left:null, $right:null, $zIndex:0){
  @if($left != null){
    left:$left;
  }
  @if($right != null){
    right:$right;
  }
  top:$top;
  width:$width;
  height:$height;
  position:absolute;
  z-index: $zIndex;
}
