<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>管理后台</title>

    <link href="/js/bower_components/bootstrap/dist/css/bootstrap.css" type="text/css" rel="stylesheet">
    <link href="/css/admin/app.css" type="text/css" rel="stylesheet">
    <link href="/css/admin/global.css" type="text/css" rel="stylesheet">
</head>
<body>

