<% include header.ejs %>
<section class="news">
    <ul>
        <li><a href="/admin/news">最新消息管理</a></li>
        <li><a href="/admin/description">游戏介绍管理</a></li>
        <!--<li><a href="/admin/descriptionCategory">游戏介绍类别管理</a></li>-->
    </ul>
</section>


<% include footer.ejs %>
<script src="/js/admin/index.js"></script>
