<% include header.ejs %>
<section class="news">
    <ul>
        <li><a href="/pc/admin/news">最新消息管理</a></li>
        <li><a href="/pc/admin/description">游戏介绍管理</a></li>
        <li><a href="/pc/admin/descriptionCategory">游戏介绍类别管理</a></li>
        <li><a href="/pc/admin/tutorial">教程管理</a></li>
        <li><a href="/pc/admin/contactUs">联系我们</a></li>
        <li><a href="/pc/admin/game">游戏管理</a></li>
    </ul>
</section>


<% include footer.ejs %>
<script src="/pc/js/admin/index.js"></script>
<% include footerHtml.ejs %>
