<% include ../header.ejs %>

<div class="contact-us">
    <h1>联系我们</h1>

    <div id="content">
        <% include content.ejs %>
    </div>
</div>

<!--<ul>-->
    <!--<li class="add">-->
        <!--<a href="/pc/admin/news/addPage">添加</a>-->
    <!--</li>-->
<!--</ul>-->



<%include footer.ejs%>
<% include ../footerHtml.ejs %>
