.container {
  margin-top: 398px; }
  .container .banner {
    position: relative;
    top: -468px; }
    .container .banner img {
      width: 100%;
      height: 100%; }
    .container .banner .title {
      left: 0;
      top: -21px;
      width: 500px;
      height: 350px;
      position: absolute;
      z-index: -80; }
    .container .banner .bg {
      left: -100px;
      top: 0;
      width: 1000px;
      height: 468px;
      position: absolute;
      z-index: -90; }
  .container .content {
    margin-top: 20px; }
    .container .content .first-row {
      height: 250px; }
      .container .content .first-row > li {
        float: left; }
      .container .content .first-row .left {
        width: 175px;
        margin-right: 20px;
        height: 100%;
        position: relative;
        background-color: #231259;
        color: #ffffff; }
        .container .content .first-row .left ul {
          max-height: 200px;
          overflow: auto;
          padding: 10px 10px 0 10px; }
          .container .content .first-row .left ul li {
            margin-bottom: 15px; }
            .container .content .first-row .left ul li h3 {
              font-size: 20px; }
            .container .content .first-row .left ul li span {
              display: block;
              font-size: 12px; }
        .container .content .first-row .left img {
          width: 100%;
          height: 100px;
          position: absolute;
          bottom: 0; }
      .container .content .first-row .middle {
        width: 390px;
        height: 100%; }
        .container .content .first-row .middle img {
          background-image: url("../../index/pic/1.png");
          background-size: 464px 300px;
          width: 390px;
          height: 250px; }
      .container .content .first-row .right {
        width: 215px; }
        .container .content .first-row .right li {
          position: relative;
          background-size: 100% 100%;
          width: 100%;
          height: 83.3px; }
        .container .content .first-row .right .first {
          background-image: url("../../index/batton/play.jpg"); }
          .container .content .first-row .right .first i {
            display: block;
            width: 0;
            height: 0;
            border: 10px solid;
            border-color: transparent #616ec2 transparent transparent;
            position: absolute;
            top: 40px;
            left: 20px; }
        .container .content .first-row .right .second {
          background-image: url("../../index/batton/feature_h.jpg"); }
          .container .content .first-row .right .second i {
            display: block;
            width: 0;
            height: 0;
            border: 10px solid;
            border-color: transparent #ffffff transparent transparent;
            position: absolute;
            top: 40px;
            left: 20px; }
        .container .content .first-row .right .third {
          background-image: url(""); }
          .container .content .first-row .right .third i {
            display: block;
            width: 0;
            height: 0;
            border: 10px solid;
            border-color: transparent #ffffff transparent transparent;
            position: absolute;
            top: 40px;
            left: 20px; }
    .container .content .second-row {
      margin-top: 10px; }
      .container .content .second-row ul {
        float: left; }
        .container .content .second-row ul li {
          background-size: 100% 100%;
          width: 130px;
          height: 130px;
          position: relative;
          cursor: pointer;
          float: left;
          font-size: 16px; }
          .container .content .second-row ul li img {
            width: 100%;
            height: 100%; }
          .container .content .second-row ul li div {
            position: absolute;
            top: 75px;
            left: 55px;
            z-index: 10;
            font-weight: bold;
            text-decoration: underline; }
        .container .content .second-row ul .first div {
          color: #e6cfff; }
        .container .content .second-row ul .second div {
          color: #ffc765; }
        .container .content .second-row ul .third div {
          color: #ffa731; }
        .container .content .second-row ul .fourth div {
          color: #13ff91; }

.petal {
  display: none; }

footer {
  background-color: #f2f2f2;
  text-align: center;
  margin-top: 30px; }

#canvasContainer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -200;
  width: 100%;
  height: 1000px; }

/*# sourceMappingURL=index.css.map */
