
<% include header.ejs %>

    <link href="/pc/css/website/page.css" type="text/css" rel="stylesheet">

    <link href="/pc/css/website/description/list.css" type="text/css" rel="stylesheet">


<div class="description">

<% include logoHeader.ejs %>

    <section class="banner-bg" >
        <div id="banner-bg" class="bg" >
            <img src="/pc/image/description/description.png">
        </div>
    </section>

<section class="container">
    <header class="normal-nav">
        <% include nav.ejs %>
    </header>

    <section class="content">
        <div id="content-container">
            <% if(model){%>
            <%include descriptionDetail.ejs%>
            <% }else{%>
            <div class="header">
                <div>
                    <ol class="breadcrumb">
                        <li><a href="/pc/description">游戏介绍</a></li>
                        <li class="active">介绍列表</li>
                    </ol>
                </div>
                <ul class="clearfix">
                    <li class="line"></li>
                    <li><h1>游戏介绍</h1></li>
                </ul>
            </div>

            <div id="content">
                <div class="body">
                    <% descriptions.forEach(function(categoryData){%>
                    <div class="item">
                        <h1><%= categoryData._id %></h1>

                        <ul class="list clearfix">
                            <% categoryData.data.forEach(function(model){%>
                            <li onclick="description.showDetail('/pc/description/detailPage', '<%= model._id %>')">
                                <%= model.title%>
                            </li>
                            <% })%>
                        </ul>
                    </div>
                    <% })%>
                </div>
            </div>
        </div>

        <% }%>


        <% include shared.ejs %>

    </section>

    <% include right_column.ejs %>

</section>

    <% include pageFooter.ejs %>
    </div>

<% include pop_window.ejs %>
<% include modal.ejs %>


<% include footer.ejs %>
<script src="/pc/js/website/description/description.js"></script>


<script src="/pc/js/website/description/main.js"></script>

<% include footerHtml.ejs %>
