
<% include header.ejs %>

    <link href="/css/website/page.css" type="text/css" rel="stylesheet">

    <link href="/css/website/description/list.css" type="text/css" rel="stylesheet">

<% include logo2.ejs %>

<section class="container">
    <header>

        <% include nav.ejs %>

        <div class="banner">
            <div id="banner-bg" class="bg">
                <img src="/image/description/description.png">
            </div>
        </div>
    </header>

    <section class="content">
        <div id="content-container">
            <div class="header clearfix">
                <ul class="clearfix">
                    <li class="line"></li>
                    <li><h1>游戏介绍</h1></li>
                </ul>
                <ol class="breadcrumb">
                    <li><a href="#">游戏介绍</a></li>
                    <li class="active">介绍列表</li>
                </ol>
            </div>

            <div id="content">
                <div class="body">
                    <% descriptions.forEach(function(categoryData){%>
                    <div class="item">
                        <h1><%= categoryData._id %></h1>

                        <ul class="list clearfix">
                            <% categoryData.data.forEach(function(model){%>
                            <li onclick="description.showDetail('/description/detailPage', '<%= model._id %>')">
                                <%= model.title%>
                            </li>
                            <% })%>
                        </ul>
                    </div>
                    <% })%>
                </div>
            </div>
        </div>



        <% include shared.ejs %>

    </section>

    <% include right_column.ejs %>

</section>


<% include pop_window.ejs %>


<% include pageFooter.ejs %>

<% include footer.ejs %>
<script src="/js/website/description/description.js"></script>

