
<% include header.ejs %>

<link href="/pc/css/website/page.css" type="text/css" rel="stylesheet">

<link href="/pc/css/website/download/list.css" type="text/css" rel="stylesheet">


<div class="download">

    <% include logoHeader.ejs %>

    <section class="banner-bg" >
        <div id="banner-bg" class="bg" >
            <img src="/pc/image/download/download.png">
        </div>
    </section>

    <section class="container">
        <header class="normal-nav">
            <% include nav.ejs %>
        </header>

        <section class="content">
            <div id="content-container">
                <div class="header clearfix">
                    <ul class="clearfix">
                        <li class="line"></li>
                        <li><h1>下载地址</h1></li>
                    </ul>
                    <ol class="breadcrumb">
                        <li><a href="/pc/download#nav">游戏下载</a></li>
                        <li class="active">下载地址</li>
                    </ol>
                </div>

                <div id="content">
                    <div class="body clearfix">
                        <img src="/pc/image/download/xiazaidizhi.jpg" alt=""/>
                        <img src="/pc/image/download/weixingongzhonghao.jpg" alt=""/>
                    </div>
                </div>
            </div>



            <% include shared.ejs %>

        </section>

        <% include right_column.ejs %>

    </section>

    <% include pageFooter.ejs %>
</div>

<% include pop_window.ejs %>



<% include footer.ejs %>

<script src="/pc/js/website/download/main.js"></script>

<% include footerHtml.ejs %>
