<script type="text/javascript" >
    var jiathis_config={
        summary:"",
        shortUrl:false,
        hideMore:false
    }
</script>
<script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js" charset="utf-8"></script>

<script src="/js/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/js/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>


<script src="/js/website/animation.js"></script>
<script src="/js/website/nav.js"></script>
<script src="/js/website/global.js"></script>

</body>
</html>
