<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8" content="text/html"/>
    <title>时空召唤：英雄计划</title>

    <link href="/pc/image/icon.png" rel="shortcut icon" type="image/x-icon">
    <!--#build:css:replace /pc/dist/header.css#-->
    <link href="/pc/js/bower_components/bootstrap/dist/css/bootstrap.css" type="text/css" rel="stylesheet">
    <link href="/pc/css/website/app.css" type="text/css" rel="stylesheet">
    <!--#endbuild#-->
</head>
<body id="canvasContainer">
<!--#build:js:replace /pc/dist/header.js#-->
<script src="/pc/js/website/header/browser.js"></script>
<!--#endbuild#-->
