<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8" content="text/html"/>
    <title>时空召唤：英雄计划</title>

    <link href="/pc/image/icon.ico" rel="shortcut icon">
    <link href="/pc/dist/header.css" type="text/css" rel="stylesheet">
</head>
<body id="canvasContainer">
<script src="/pc/js/website/header/browser.js"></script>
