<% include header.ejs %>

<link href="/dist/index.css" type="text/css" rel="stylesheet">

<div id="canvasOutput" class="">
</div>
<div id="" style="
/*position:absolute;*/
/*top:0;*/
/*left:0;*/
/*z-index:-200;*/
/*width:100%;*/
/*height:1000px;*/
/*background-image: url('/image/bg/bg.png');*/
/*background-repeat: no-repeat;*/
  /*background-size:100% 100%;*/
">
</div>

<section  class="container">
  <header>
    <% include nav.ejs %>
    <!--<% include tryPlay_nav.ejs %>-->

    <div class="banner">
      <div id="banner-title" class="title" >
        <img src="/image/index/banner/game_name.png"/>
      </div>
      <div id="banner-bg" class="bg" >
        <img src="/image/index/banner/bg.png"/>
      </div>
    </div>
  </header>

  <section class="content">
    <ul class="first-row clearfix">
      <li class="left">
        <ul>
          <li>
            <h3 class="ellipsis">小标题要长长长长长长长长长长长长长长长长长长长长</h3>
            <span class="ellipsis">内容一定要长长长长长长长长长长长长长长长长</span>
          </li>
        </ul>

        <img src="/image/index/ornament/news.png"></li>
      <li id="switch-img" class="middle">
        <img src="/image/index/pic/1.jpg"/>
      </li>
      <li id="switch-title" class="right">
        <ul>
          <li class="first"><i></i></li>
          <li class="second"><i></i></li>
          <li class="third"><i></i></li>
        </ul>
      </li>
    </ul>

    <div class="second-row clearfix">
      <ul>
        <li class="first">
          <img src="/image/index/batton/first.png"/>
          <div>
            <span>入门</span>
          </div>
        </li>
        <li class="second">
          <img src="/image/index/batton/second.png"/>
          <div>
            <span>进阶</span>
          </div>
        </li>
        <li class="third">
          <img src="/image/index/batton/third.png"/>
          <div>
            <span>装备</span>
          </div>
        </li>
        <li class="fourth">
          <img src="/image/index/batton/fourth.png"/>
          <div>
            <span>组合</span>
          </div>
        </li>
      </ul>

      <div class="contact-us-big">
        <img class="left" src="/image/ornament/left.png">
        <img class="right" src="/image/ornament/right.png">
      </div>
    </div>


    <% include shared.ejs %>

  </section>
</section>

<% include play_iframe.ejs %>

<% include modal.ejs %>

<% include pop_window.ejs %>


<% include logo1.ejs %>


<% include footer.ejs %>

<script src="/dist/index.js"></script>

<% include footerHtml.ejs %>
