<% include header.ejs %>

<!--#build:css:replace /pc/dist/index.css#-->
<link href="/pc/css/website/index/index.css" type="text/css" rel="stylesheet">
<link href="/pc/css/website/banner.css" type="text/css" rel="stylesheet">
<!--#endbuild#-->

<div class="index">
  <section class="banner-title">
    <div id="banner-title" class="title" >
      <img src="/pc/image/index/banner/game_name.png"/>
    </div>
  </section>
  <section class="banner-bg" >
    <div id="banner-bg" class="bg" >
      <img src="/pc/image/index/banner/bg.png"/>
    </div>
  </section>


  <section class="container">
    <header class="normal-nav">
      <% include nav.ejs %>
    </header>

    <section class="content">
      <ul class="first-row clearfix">
        <li class="left">
          <ul>
            <% for(var i = 0, len = newsList.length; i < len; i++){%>
            <li class="clearfix" onclick="javascript:window.open('/pc/news?id=<%=newsList[i]._id%>');">

              <%if(newsList[i].icon){%>
              <div class="icon">
                <img src="<%= newsList[i].icon %>"/>
              </div>
              <%}%>

              <div class="text">
                 <h3 class="ellipsis"><%= newsList[i].title%></h3>
                <span class="ellipsis"><%= safe.removeHtmlLabel(newsList[i].body)%></span>
              </div>
            </li>
            <% }%>
          </ul>

          <img src="/pc/image/index/ornament/news.png"></li>
        <li id="switch-img" class="middle">
          <img src="/pc/image/index/pic/1.jpg"/>
        </li>
        <li id="switch-title" class="right">
          <ul>
            <li class="first"><i></i></li>
            <li class="second"><i></i></li>
            <li class="third"><i></i></li>
          </ul>
        </li>
      </ul>

      <div class="second-row clearfix">
        <ul >
          <!--todo specify the category param-->
          <li class="first" onclick="javascript:location.href='/pc/description';">
            <img src="/pc/image/index/batton/first.png"/>
            <div>
              <span>入门</span>
            </div>
          </li>
          <li class="second" onclick="javascript:location.href='/pc/description';">
            <img src="/pc/image/index/batton/second.png"/>
            <div>
              <span>进阶</span>
            </div>
          </li>
          <li class="third" onclick="javascript:location.href='/pc/description';">
            <img src="/pc/image/index/batton/third.png"/>
            <div>
              <span>装备</span>
            </div>
          </li>
          <li class="fourth" onclick="javascript:location.href='/pc/description';">
            <img src="/pc/image/index/batton/fourth.png"/>
            <div>
              <span>组合</span>
            </div>
          </li>
        </ul>

        <div class="contact-us-big">
          <img class="left" src="/pc/image/ornament/left.png">
          <img class="right" src="/pc/image/ornament/right.png">
        </div>
      </div>


      <% include shared.ejs %>

    </section>
  </section>






  <% include logoFooter.ejs %>


</div>

<% include popWindow.ejs %>




<% include footer.ejs %>




<!--<script>-->
  <!--if(buildSetting.state === "dev"){-->
    <!--document.write('<script src="//'+staticHost+'/dingding/web/'+version+'/app/js/index-global.js"></s'+'cript>')-->
  <!--}-->
  <!--else{-->
    <!--//dist-->
    <!--document.write('<script src="//'+staticHost+'/dingding/web/'+version+'/app/js/index-global.js"></s'+'cript>')-->
  <!--}-->
<!--</script>-->



<script>
</script>

<!--#build:js:seajsMain /pc/dist/cmd.js #-->
<script src="/pc/js/website/index/main.js"></script>
<!--#endbuild#-->





<% include footerHtml.ejs %>
