<header class="logo-header" onclick="javascript:location.href='/pc/index';">
    <ul class="footer clearfix">
        <li class="game-name"> </li>
        <li class="spliter"> </li>
        <li class="logo"> </li>
        <!--<li class="text">敬请期待</li>-->
    </ul>
</header>
