<nav>
    <ul class="clearfix">
        <li class="hotnews">
            <a href="/news"><img src="/pc/image/nav/hotnews.png"/></a>
        </li>
        <li class="description">
            <a href=""><img src="/pc/image/nav/description.png"/></a>
        </li>
        <li class="comment">
            <a href=""><img src="/pc/image/nav/comment.png"/></a>
        </li>
    </ul>
    <ul class="dropdown">
        <!--todo dynamic-->
        <li><a href="/description">神秘故事</a></li>
        <li><a href="/description">技能介绍</a></li>
        <li><a href="/description">世界探索</a></li>
        <li><a href="/description">游戏入门</a></li>
        <li><a href="/description">游戏进阶</a></li>
        <li><a href="/description">游戏组合</a></li>
        <li><a href="/description">游戏秘籍</a></li>
    </ul>
</nav>
<a href="/news" class="bird">
    <img src="/pc/image/nav/bird.png"/>
</a>
<a href="/news" class="download">
    <img src="/pc/image/nav/download.png"/>
</a>
