<nav class="normal-nav">
    <ul class="clearfix">
        <li class="hotnews">
            <a href="/news"><img src="/image/nav/hotnews.png"/></a>
        </li>
        <li class="description">
            <a href=""><img src="/image/nav/description.png"/></a>
        </li>
        <li class="comment">
            <a href=""><img src="/image/nav/comment.png"/></a>
        </li>
    </ul>
    <ul class="dropdown">
        <% descriptionCategorys.forEach(function(category){%>
        <li><a href="/description"><%= category.name %></a></li>
        <%})%>
    </ul>
</nav>
<a href="/news" class="bird">
    <img src="/image/nav/bird.png"/>
</a>
<div class="download"></div>
