<div class="news-detail">
    <div class="header clearfix">
        <ul class="clearfix">
            <li class="line"></li>
            <li><h1><%= news.title %></h1></li>
        </ul>
        <ol class="breadcrumb">
            <li><a href="/pc/news#nav">最新消息</a></li>
            <li><a href="/pc/news#nav">消息列表</a></li>
            <li class="active">正文</li>
        </ol>
    </div>



    <div id="content">
        <div class="body">
            <span><%= news.time%></span>
            <p>
                <%- news.body %>
            </p>
        </div>
    </div>
</div>
