<% include header.ejs %>

    <link href="/pc/css/website/page.css" type="text/css" rel="stylesheet">
    <link href="/pc/css/website/news/list.css" type="text/css" rel="stylesheet">


<div class="news">
    <% include logoHeader.ejs %>

    <section class="banner-bg" >
        <div id="banner-bg" class="bg" >
            <img src="/pc/image/news/news.png">
        </div>
    </section>

<section class="container">
    <header class="normal-nav">
        <% include nav.ejs %>
    </header>

    <section class="content">
        <div id="content-container">
            <div class="header clearfix">
                <ul class="clearfix">
                    <li class="line"></li>
                    <li><h1>消息列表</h1></li>
                </ul>
                <ol class="breadcrumb">
                    <li><a href="/pc/news">最新消息</a></li>
                    <li class="active">消息列表</li>
                </ol>
            </div>


            <div id="content">
                <% include newsContent.ejs %>
            </div>
        </div>


    <% include shared.ejs %>

    </section>

    <% include right_column.ejs %>

</section>


    <% include pageFooter.ejs %>
    </div>
<% include pop_window.ejs %>




<% include footer.ejs %>
<script src="/pc/js/website/news/news.js"></script>
<script src="/pc/js/website/news/index.js"></script>
<% include footerHtml.ejs %>
