<% include header.ejs %>

<!--#build:css:replace /pc/dist/news/index.css#-->
    <link href="/pc/css/website/page.css" type="text/css" rel="stylesheet">
    <link href="/pc/css/website/news/list.css" type="text/css" rel="stylesheet">
<!--#endbuild#-->


<div class="news">
    <% include logoHeader.ejs %>

    <section class="banner-bg banner-small" >
        <div id="banner-bg" class="bg" >
            <img src="/pc/image/news/news.png">
        </div>
    </section>

<section class="container">
    <header class="normal-nav">
        <% include nav.ejs %>
    </header>

    <section class="container-body clearfix">
        <section class="left">
            <section class="content">
                <div id="content-container">
                    <% if(model){%>
                    <%include newsDetail.ejs%>
                    <% }else{%>
                    <div class="header">
                        <div>
                            <ol class="breadcrumb">
                                <li><a href="/pc/news">最新消息</a></li>
                                <li class="active">消息列表</li>
                            </ol>
                        </div>
                        <ul class="clearfix">
                            <li class="line"></li>
                            <li><h1>消息列表</h1></li>
                        </ul>
                    </div>


                    <div id="content">
                        <% include newsContent.ejs %>
                    </div>

                    <% }%>
                </div>


                <% include shared.ejs %>

            </section>
        </section>

        <section class="right">
            <% include rightColumn.ejs %>
        </section>

    </section>

</section>


    <% include pageFooter.ejs %>
    </div>
<% include popWindow.ejs %>
<% include modal.ejs %>




<% include footer.ejs %>

<!--#build:js:replace /pc/dist/news/no_cmd.js#-->
<script src="/pc/js/website/news/news.js"></script>
<!--#endbuild#-->


<!--#build:js:seajsMain /pc/dist/news/cmd.js#-->
<script src="/pc/js/website/news/main.js"></script>
<!--#endbuild#-->

<% include footerHtml.ejs %>

