<footer class="page-footer">
    <ul class="clearfix">
        <li class="left">
            <dl class="clearfix">
                <dt>友情链接：</dt>
                <dd>
                    <ul class="clearfix">
                        <li>悟空间</li>
                        <li>悟空间</li>
                        <li>悟空间</li>
                        <li>悟空间</li>
                        <li>悟空间</li>
                    </ul>
                </dd>
            </dl>
        </li>
        <li class="right">
            <ul class="clearfix">
                <li>悟空间</li>
                <li>悟团队</li>
                <li>悟招聘</li>
            </ul>
        </li>
    </ul>
</footer>
