<section class="pop-window">
    <div class="pop-out">
        <i>
        </i>
    </div>
    <img src="/image/pop_box/gift.png"/>
  <span>
    <ol>
        <li>进入赠送500水晶</li>
        <li>充值收益翻倍</li>
        <li>月卡奖励翻倍</li>
        <li>签到奖励翻倍</li>
        <li>成就奖励翻倍</li>
        <li>水晶道具4折购买</li>
    </ol>
  </span>
</section>

