<section class="right-column">
    <img src="/pc/image/ad/1.jpg" alt="">
    <img src="/pc/image/ad/2.jpg" alt="">
    <img src="/pc/image/ad/3.jpg" alt="">
    <hr>
    <div class="contact-us-small clearfix">
        <img class="left" src="/pc/image/ornament/left.png">
        <img class="right" src="/pc/image/ornament/right.png">
    </div>

</section>
