<section class="right-column">
    <img src="1.png" alt="">
    <hr>
    <div class="contact-us-small clearfix">
        <img class="left" src="/image/ornament/left.png">
        <img class="right" src="/image/ornament/right.png">
    </div>

</section>
