<div class="shared clearfix">
    <span> 分享： </span>
    <a class="button_weixin"></a>
    <a class="button_tsina"></a>
    <a class="button_baidutieba"></a>
    <div class="code-window">
        <!--<div class="img"></div>-->
    </div>
</div>
