<nav class="try-play-nav">
    <ul class="clearfix">
        <li class="hotnews">
            <a href=""><img src="/image/try_play/beginner.png"/></a>
        </li>
        <li class="description">
            <a href=""><img src="/image/try_play/advance.png"/></a>
        </li>
        <li class="comment">
            <a href=""><img src="/image/try_play/combination.png"/></a>
        </li>
    </ul>
    <!--<ul class="dropdown">-->
        <!--<% descriptionCategorys.forEach(function(category){%>-->
        <!--<li><a href="/description"><%= category.name %></a></li>-->
        <!--<%})%>-->
    <!--</ul>-->
</nav>
<div class="try-play-button"></div>
