<% include header.ejs %>


<link href="/dist/tryPlay.css" type="text/css" rel="stylesheet">

<div class="try-play">
    <% include logoHeader.ejs %>

    <section class="banner-title">
        <div id="banner-title" class="title" >
            <img src="/image/index/banner/game_name.png"/>
        </div>
    </section>
    <section class="banner-bg" >
        <div id="banner-bg" class="bg" >
            <img src="/image/index/banner/bg.png"/>
        </div>
    </section>

    <section class="container">
        <header class="try-play-nav">
            <% include tryPlay_nav.ejs %>
        </header>

        <% include play_iframe.ejs %>
    </section>


    <div class="mask">
    </div>

    <% include pageFooter.ejs %>
</div>


<% include modal.ejs %>

<script src="/dist/footer.js"></script>
<script src="/dist/tryPlay.js"></script>

<% include footerHtml.ejs %>
