.index {
  background-image: url("/pc/image/bg/bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  z-index: 0; }
  .index .container {
    top: 460px; }
    .index .container .content {
      margin-top: 20px; }
      .index .container .content .first-row {
        height: 270px; }
        .index .container .content .first-row > li {
          float: left; }
        .index .container .content .first-row .left {
          width: 220px;
          margin-right: 20px;
          height: 100%;
          position: relative;
          background-color: #231259;
          color: #ffffff; }
          .index .container .content .first-row .left ul {
            max-height: 190px;
            overflow: auto;
            scrollbar-face-color: #231259;
            padding: 10px 10px 0 10px;
            position: relative;
            z-index: 1; }
            .index .container .content .first-row .left ul li {
              margin-bottom: 15px;
              cursor: pointer; }
              .index .container .content .first-row .left ul li h3 {
                font-size: 20px; }
              .index .container .content .first-row .left ul li span {
                display: block;
                font-size: 12px; }
              .index .container .content .first-row .left ul li a {
                color: #ffffff; }
          .index .container .content .first-row .left img {
            width: 100%;
            height: 100px;
            position: absolute;
            z-index: 0;
            bottom: 0; }
        .index .container .content .first-row .middle {
          width: 488px;
          height: 100%;
          cursor: pointer; }
          .index .container .content .first-row .middle img {
            width: 488px;
            height: 270px; }
        .index .container .content .first-row .right {
          width: 230px; }
          .index .container .content .first-row .right li {
            position: relative;
            background-size: 100% 100%;
            width: 100%;
            height: 90px;
            cursor: pointer; }
          .index .container .content .first-row .right .first {
            background-image: url("/pc/image/index/batton/play.jpg"); }
            .index .container .content .first-row .right .first i {
              display: block;
              width: 0;
              height: 0;
              border: 10px solid;
              border-color: transparent #616ec2 transparent transparent;
              position: absolute;
              top: 24px;
              left: 20px; }
          .index .container .content .first-row .right .second {
            background-image: url("/pc/image/index/batton/feature_h.jpg"); }
            .index .container .content .first-row .right .second i {
              display: block;
              width: 0;
              height: 0;
              border: 10px solid;
              border-color: transparent #ffffff transparent transparent;
              position: absolute;
              top: 24px;
              left: 20px; }
          .index .container .content .first-row .right .third {
            background-image: url("/pc/image/index/batton/skill_h.jpg"); }
            .index .container .content .first-row .right .third i {
              display: block;
              width: 0;
              height: 0;
              border: 10px solid;
              border-color: transparent #ffffff transparent transparent;
              position: absolute;
              top: 24px;
              left: 20px; }
      .index .container .content .second-row {
        margin-top: 10px; }
        .index .container .content .second-row ul {
          float: left; }
          .index .container .content .second-row ul li {
            background-size: 100% 100%;
            width: 150px;
            height: 150px;
            position: relative;
            cursor: pointer;
            float: left;
            font-size: 16px; }
            .index .container .content .second-row ul li img {
              width: 100%;
              height: 100%; }
            .index .container .content .second-row ul li div {
              height: 20px;
              width: 130px;
              position: absolute;
              left: 24px;
              top: 86px;
              overflow: hidden;
              z-index: 100; }
              .index .container .content .second-row ul li div span {
                width: 50px;
                display: block;
                position: absolute;
                left: 40px;
                z-index: 10;
                font-weight: bold;
                text-decoration: underline; }
          .index .container .content .second-row ul .first div {
            color: #e6cfff; }
          .index .container .content .second-row ul .second div {
            color: #ffc765; }
          .index .container .content .second-row ul .third div {
            color: #ffa731; }
          .index .container .content .second-row ul .fourth div {
            color: #13ff91; }
  .index .petal {
    display: none; }
  .index .logo1 {
    margin-top: 500px;
    background-color: #f2f2f2;
    text-align: center;
    height: 82px; }

/*# sourceMappingURL=index.css.map */
