<% include ../header.ejs %>

<form method="post" action="/admin/description">
  标题：<br />
  <input type="text" name="title"/><br />
  类别：<br/>
  <select name="category">
    <% for(var i = 0, len = categorys.length; i < len; i++){%>
    <option value="<%= categorys[i].name%>"><%=categorys[i].name%></option>
    <% }%>
  </select>

  正文：<br />
  <textarea id="body" name="body" style="
  width:600px;
  height:400px;
  "></textarea>
  <br />
  <input type="submit" value="添加" />
</form>

<% include ../kindeditorJs.ejs %>
<script>
  var options = {
    uploadJson: "/admin/upload"
  };

  KindEditor.ready(function(K) {
    window.editor = K.create("#body", options);
  });
</script>

<% include ../footer.ejs %>
