@charset "UTF-8";
h3 {
  padding: 0;
  margin: 0; }

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: Arial, '黑体'; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  z-index: 100; }

.shared {
  display: table;
  margin: 30px auto 0px auto;
  font-size: 0;
  -webkit-text-size-adjust: none;
  color: #5b5fac; }
  .shared span, .shared .jiathis_style_32x32 {
    font-size: 16px;
    font-weight: 900;
    display: inline-block;
    vertical-align: middle; }
    .shared span > a > span, .shared .jiathis_style_32x32 > a > span {
      margin-right: 20px; }

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

ul.footer {
  height: 82px;
  display: table;
  margin: 0 auto; }
  ul.footer .logo {
    background-image: url("/pc/image/logo/logo.png");
    width: 130px;
    height: 75px;
    margin-top: 5px;
    background-size: 100% 100%; }
  ul.footer .spliter {
    border-left: 1px solid #b7b7b7;
    height: 70px;
    /* vertical-align: middle; */
    /* margin-top: 6px; */
    margin: 6px 30px; }
  ul.footer .game-name {
    background-image: url("/pc/image/logo/game_name.png");
    width: 160px;
    height: 82px;
    background-size: 100% 100%; }

.logo-header {
  background-color: #f2f2f2;
  cursor: pointer; }
  .logo-header .footer {
    margin-left: 20% !important; }
  .logo-header .text {
    height: 100%;
    line-height: 82px;
    margin-left: 400px;
    font-size: 16px;
    color: #636363; }

.pop-window {
  position: fixed;
  width: 400px;
  height: 240px;
  top: 30%;
  right: -330px;
  z-index: 1000;
  background-image: url("/pc/image/pop_box/suspend.png");
  background-repeat: no-repeat;
  background-size: 100% 100%; }
  .pop-window div {
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
    width: 26px;
    height: 26px;
    border: 2px solid #8899de;
    position: relative;
    top: 6px;
    left: 8px;
    cursor: pointer; }
  .pop-window .pop-out i {
    display: block;
    width: 0;
    height: 0;
    border: 8px solid;
    border-color: transparent #8899de transparent transparent;
    position: absolute;
    top: 2px;
    left: -3px;
    top: 3px \9;
    left: -1px \9; }
  .pop-window .pop-out + .origin {
    display: block; }
  .pop-window .pop-out + .change {
    display: none; }
  .pop-window .pop-in i {
    display: block;
    width: 0;
    height: 0;
    border: 8px solid;
    border-color: transparent transparent transparent #8899de;
    position: absolute;
    top: 2px;
    left: 9px; }
  .pop-window .pop-in ~ .origin {
    display: none; }
  .pop-window .pop-in ~ .change {
    display: block; }
  .pop-window img.origin {
    width: 50px;
    height: 163px;
    position: relative;
    top: 27px;
    left: 13px; }
  .pop-window img.change {
    width: 147px;
    height: 40px;
    position: relative;
    top: -13px;
    left: 57px;
    display: none; }
  .pop-window span {
    display: block;
    position: absolute;
    font-size: 14px;
    top: 79px;
    left: 50px;
    color: #ffffff; }

.contact-us-big {
  background-image: url("/pc/image/button/contact_us.png");
  cursor: pointer;
  width: 338px;
  height: 110px;
  margin-left: 20px;
  margin-top: 34px;
  position: relative;
  background-size: 100% 100%; }
  .contact-us-big .left {
    left: -57px;
    top: -30px;
    width: 150px;
    height: 40px;
    position: absolute;
    z-index: 0; }
  .contact-us-big .right {
    right: -82px;
    top: 34px;
    width: 255px;
    height: 86px;
    position: absolute;
    z-index: 0; }

.contact-us-small {
  background-image: url("/pc/image/button/contact_us.png");
  background-size: 100% 100%;
  position: relative;
  width: 254px;
  height: 120px;
  left: 0;
  margin-top: 64px; }
  .contact-us-small .left {
    left: -47px;
    top: -20px;
    width: 120px;
    height: 30px;
    position: absolute;
    z-index: 0; }
  .contact-us-small .right {
    right: -75px;
    top: 30px;
    width: 200px;
    height: 76px;
    position: absolute;
    z-index: 0; }

.modal .modal-dialog {
  margin-top: 10%; }
.modal .modal-content {
  background-color: rgba(0, 0, 0, 0.6); }
  .modal .modal-content .modal-header {
    border: 0 !important; }
  .modal .modal-content .modal-body {
    margin: 0 auto;
    margin-top: 100px;
    background-image: url("/pc/image/index/pic/building.png");
    background-size: 100% 100%;
    width: 400px;
    height: 120px; }
  .modal .modal-content .modal-footer {
    height: 150px !important;
    border: 0 !important; }
  .modal .modal-content .close {
    color: white; }

/*!
share plugin
*/
.ckepopBottom {
  display: none; }

.centerBottom {
  display: none; }

.shared .jiathis_style_32x32 .jiathis_button_weixin span {
  background: url(/pc/image/shared/4_h.png) no-repeat left !important;
  background-size: 32px 32px !important; }
.shared .jiathis_style_32x32 .jiathis_button_t163 span {
  background: url("/pc/image/shared/5_h.png") no-repeat left !important;
  background-size: 32px 32px !important; }
.shared .jiathis_style_32x32 .jiathis_button_xiaoyou span {
  background: url("/pc/image/shared/1_h.png") no-repeat left !important;
  background-size: 32px 32px !important; }
.shared .jiathis_style_32x32 .jiathis_button_tsina span {
  background: url("/pc/image/shared/2_h.png") no-repeat left !important;
  background-size: 32px 32px !important; }
.shared .jiathis_style_32x32 .jiathis_button_qzone span {
  background: url("/pc/image/shared/3_h.png") no-repeat left !important;
  background-size: 32px 32px !important; }
.shared .jiathis_style_32x32 .jtico_jiathis {
  background: url("/pc/image/shared/6.png") no-repeat left !important;
  background-size: 32px 32px !important; }

.normal-nav {
  position: relative; }
  .normal-nav nav a {
    display: block; }
    .normal-nav nav a img {
      width: 100%;
      height: 100%; }
  .normal-nav nav > ul > li {
    width: 210px;
    height: 90px;
    text-align: center;
    display: table;
    margin-right: 20px;
    float: left;
    cursor: pointer; }
    .normal-nav nav > ul > li a {
      height: 90px; }
  .normal-nav nav > ul.clearfix {
    height: 100%; }
  .normal-nav nav .description:hover > .dropdown {
    display: block; }
  .normal-nav nav .dropdown {
    position: absolute;
    z-index: 1000;
    left: 230px;
    top: 90px;
    width: 210px;
    display: none;
    background-image: url("/pc/image/bg/dropdown.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size: 20px; }
    .normal-nav nav .dropdown li {
      width: 100%;
      height: 50px;
      line-height: 50px; }
      .normal-nav nav .dropdown li:hover {
        background-color: #5734ad; }
      .normal-nav nav .dropdown li a {
        font-weight: bolder;
        display: block;
        width: 100%;
        height: 100%;
        color: #2b235b; }
        .normal-nav nav .dropdown li a:hover {
          color: #ffffff;
          text-decoration: none; }
  .normal-nav nav .comment:hover > .comment-dropdown {
    display: block; }
  .normal-nav nav .comment-dropdown {
    position: absolute;
    z-index: 1000;
    left: 460px;
    top: 90px;
    width: 210px;
    background-image: url("/pc/image/bg/dropdown.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size: 20px;
    font-weight: bolder;
    color: #2b235b;
    display: none; }
    .normal-nav nav .comment-dropdown li {
      width: 100%;
      height: 50px;
      line-height: 50px;
      text-align: center; }
      .normal-nav nav .comment-dropdown li span {
        display: block; }
    .normal-nav nav .comment-dropdown .link {
      text-align: center;
      padding-left: 40px;
      cursor: pointer; }
      .normal-nav nav .comment-dropdown .link:hover {
        color: #ffffff;
        text-decoration: none;
        background-color: #5734ad; }
      .normal-nav nav .comment-dropdown .link img {
        float: left;
        width: 30px;
        height: 30px;
        margin-top: 10px;
        margin-right: 5px; }
      .normal-nav nav .comment-dropdown .link span {
        display: block;
        float: left; }
    .normal-nav nav .comment-dropdown .icon {
      height: 100px; }
      .normal-nav nav .comment-dropdown .icon img {
        width: 100px;
        height: 100px; }
    .normal-nav nav .comment-dropdown .code {
      height: 150px; }
      .normal-nav nav .comment-dropdown .code img {
        width: 140px;
        height: 140px; }
    .normal-nav nav .comment-dropdown .text {
      height: 50px;
      margin-top: 10px; }
      .normal-nav nav .comment-dropdown .text span {
        color: white;
        font-weight: bold; }
  .normal-nav .bird {
    display: block;
    position: absolute;
    left: -30px;
    top: -20px;
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 0; }
    .normal-nav .bird img {
      width: 100%;
      height: 100%; }
  .normal-nav .download, .normal-nav .go-try-play {
    display: block;
    left: 705px;
    top: -10px;
    width: 254px;
    height: 112px;
    position: absolute;
    z-index: 0; }
    .normal-nav .download img, .normal-nav .go-try-play img {
      width: 100%;
      height: 100%; }
  .normal-nav .go-try-play {
    cursor: pointer; }
  .normal-nav .download:hover + .download-dropdown {
    display: block; }
  .normal-nav .download-dropdown {
    position: absolute;
    z-index: 1000;
    right: 1px;
    top: 90px;
    width: 254px;
    background-image: url("/pc/image/bg/dropdown.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 10px;
    display: none;
    cursor: pointer; }
    .normal-nav .download-dropdown:hover {
      display: block; }
    .normal-nav .download-dropdown li {
      width: 100%;
      height: 50px;
      line-height: 50px;
      text-align: center; }
      .normal-nav .download-dropdown li a {
        font-weight: bolder;
        display: block;
        width: 100%;
        height: 100%;
        color: #2b235b; }
      .normal-nav .download-dropdown li span {
        display: block; }
    .normal-nav .download-dropdown .icon {
      height: 100px; }
      .normal-nav .download-dropdown .icon img {
        width: 100px;
        height: 100px; }
    .normal-nav .download-dropdown .code {
      height: 100px; }
      .normal-nav .download-dropdown .code img {
        width: 100px;
        height: 100px; }
    .normal-nav .download-dropdown .text {
      height: 50px; }
      .normal-nav .download-dropdown .text span {
        color: white;
        font-size: 20px;
        font-weight: bold; }

.clearfix > * {
  float: left; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

textarea {
  width: 600px;
  height: 400px; }

footer.page-footer {
  background-color: #e0e0e0;
  text-align: center;
  margin-top: 50px;
  padding-bottom: 30px;
  height: 140px; }
  footer.page-footer > ul {
    display: table;
    margin: 0 auto;
    padding-top: 10px; }
    footer.page-footer > ul dl dd ul {
      width: 300px; }
    footer.page-footer > ul dl ul li {
      margin-left: 20px; }
    footer.page-footer > ul dl ul .left {
      width: 380px; }
    footer.page-footer > ul dl ul .right {
      margin-left: 100px; }
    footer.page-footer > ul .right {
      margin-left: 80px; }
      footer.page-footer > ul .right li:after {
        content: "";
        border-left: 1px solid #8b8e9a;
        height: 10px;
        margin-left: 20px;
        margin-right: 20px; }

.banner-title {
  position: absolute;
  z-index: 6;
  width: 530px;
  height: 400px;
  left: 50%;
  margin-left: -565px;
  top: 20px; }
  .banner-title img {
    width: 100%;
    height: 100%; }
  .banner-title .title {
    width: 100%;
    height: 100%; }

.banner-bg {
  position: absolute;
  z-index: 2;
  width: 1200px;
  height: 550px;
  left: 50%;
  margin-left: -600px; }
  .banner-bg img {
    width: 100%;
    height: 100%; }
  .banner-bg .bg {
    width: 100%;
    height: 100%; }

/*# sourceMappingURL=app.css.map */
