@import "mixin/position";
@import "mixin/geometry";
@import "mixin/global";

h3 {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin:0;
  font-size: 16px;
  top: 0;
  left: 0;
  z-index: -100;
  background-size: 100% 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}




.container{
  width: 800px;
  //border: 1px solid red;
  margin: 0 auto 0 auto;
  padding:0;



}


.shared{
  display: table;
  margin: 30px auto 0px auto;
  font-size: 0;
  -webkit-text-size-adjust:none;
  color:rgb(91,95,172);

  span,.jiathis_style_32x32{
    @include font-middle;
    font-weight:900;
    display:inline-block;
    vertical-align: middle;
  }
}


.ellipsis{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}




ul.footer{
  height: 70px;
  display: table;
  margin: 0 auto 0 auto;

  .logo{
    background-image: url("/image/logo/logo.png");
    width: 80px;
    height:50px;
    margin-top:10px;
    background-size: 100% 100%;
  }
  .spliter{
    border-left: 1px solid rgb(183,183,183);
    height:56px;
    /* vertical-align: middle; */
    /* margin-top: 6px; */
    margin: 6px 30px;

  }
  .game-name{
    background-image: url("/image/logo/game_name.png");
    width: 170px;
    height:70px;
    background-size: 100% 100%;
  }
}

.logo-header{
  background-color: rgb(242,242,242);
}


.pop-window{
  position: fixed;
  width:300px;
  height:200px;
  top: 30%;
  right: -250px;
  background-image: url("/image/pop_box/suspend.png");

  $color:rgb(136,153,222);
  div{
    @include radius(12px, $color);
    position: relative;
    top: 4px;
    left: 3px;
  }
  .pop-out{
    i{
      @include arrow($color, 2px, -3px, 8px);
      top: 3px \9;
      left:-2px \9;
    }
  }
  .pop-in{
    i{
      @include rightArrow($color, 2px, 7px, 8px);
    }
  }
}


.contact-us-big{
  background-image:url("/image/button/contact_us.png");
  background-size:100% 100%;
  position:relative;

    width: 250px;
    height: 100px;
    margin-left: 20px;
    margin-top: 34px;
    position: relative;
    background-size: 100% 100%;

    .left{
      @include absolute(150px, 40px, -30px, -57px);
    }

    .right{
      @include absolute(230px, 86px, 29px, null, -82px);
    }
}
.contact-us-small{
  background-image:url("/image/button/contact_us.png");
  background-size:100% 100%;
  position:relative;

  width: 215px;
  height:90px;
  left: 0;
  margin-top: 64px;

  .left{
    @include absolute(130px, 30px, -20px, -57px);
  }

  .right{
    @include absolute(200px, 76px, 30px, null, -75px);
  }
}










//remove share plugin info
.ckepopBottom{
  display:none;
}
.centerBottom{
  display:none;
}
