@import "mixin/position";
@import "mixin/geometry";
@import "mixin/global";
@import "mixin/image";

h3 {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin:0;
  font-size: 16px;
  font-family: Arial, '黑体';
  //top: 0;
  //left: 0;
  //z-index: -100;
  //background-size: 100% 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}




.container{
  width: 960px;
  //border: 1px solid red;
  margin: 0 auto;
  padding:0;
  position: relative;
  z-index:100;
  //z-index: -199;
}


.shared{
  display: table;
  margin: 30px auto 0px auto;
  font-size: 0;
  -webkit-text-size-adjust:none;
  color:rgb(91,95,172);

  span,.jiathis_style_32x32{
    @include font-middle;
    font-weight:900;
    display:inline-block;
    vertical-align: middle;

    &>a>span{
      margin-right:20px;
    }
  }
}


.ellipsis{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}




ul.footer{
  height: 82px;
  display: table;
  margin:0 auto;

  .logo{
    background-image: url("/pc/image/logo/logo.png");
    width: 130px;
    height:75px;
    margin-top:5px;
    background-size: 100% 100%;
  }
  .spliter{
    border-left: 1px solid rgb(183,183,183);
    height:70px;
    /* vertical-align: middle; */
    /* margin-top: 6px; */
    margin: 6px 30px;

  }
  .game-name{
    background-image: url("/pc/image/logo/game_name.png");
    width: 160px;
    height:82px;
    background-size: 100% 100%;
  }
}

.logo-header{
  background-color: rgb(242,242,242);
  cursor:pointer;

  .footer{
    margin-left:20% !important;
  }

  .text{
    height: 100%;
    line-height: 82px;
    margin-left: 400px;
    font-size: 16px;
    color: rgb(99,99,99);
  }
}


.pop-window{
  position: fixed;
  width:400px;
  height:240px;
  top: 30%;
  right: -330px;
  z-index:1000;
  background-image: url("/pc/image/pop_box/suspend.png");
  background-repeat:no-repeat;
  background-size:100% 100%;

  $color:rgb(136,153,222);
  div{
    @include radius(13px, $color);
    position: relative;
    top: 6px;
    left: 8px;
    cursor:pointer;
  }
  .pop-out{
    i{
      @include arrow($color, 2px, -3px, 8px);
      top: 3px \9;
      left:-1px \9;
    }
    & + .origin{
      display:block;
    }
    & + .change{
      display:none;
    }
  }
  .pop-in{
    i{
      @include rightArrow($color, 2px, 9px, 8px);
    }

    & ~ .origin{
      display:none;
    }
    & ~ .change{
      display:block;
    }
  }

  img.origin{
    width: 50px;
    height: 163px;
    position: relative;
    top: 27px;
    left: 13px;
  }
  img.change{
    width: 147px;
    height: 40px;
    position: relative;
    top: -13px;
    left: 57px;
    display:none;
  }

  span{
    display: block;
    position: absolute;
    font-size: 14px;
    top: 79px;
    left: 50px;
    color: #ffffff;
  }
}


.contact-us-big{
  background-image:url("/pc/image/button/contact_us.png");
  cursor:pointer;

    width: 338px;
    height: 110px;
    margin-left: 20px;
    margin-top: 34px;
    position: relative;
    background-size: 100% 100%;

    .left{
      @include absolute(150px, 40px, -30px, -57px);
    }

    .right{
      @include absolute(255px, 86px, 34px, null, -82px);
    }
}
.contact-us-small{
  background-image:url("/pc/image/button/contact_us.png");
  background-size:100% 100%;
  position:relative;
  cursor:pointer;

  width: 254px;
  height:120px;
  left: 0;
  margin-top: 64px;

  .left{
    @include absolute(120px, 30px, -20px, -47px);
  }

  .right{
    @include absolute(200px, 76px, 30px, null, -75px);
  }
}



.modal{
  //height:100px !important;

.modal-dialog{
  margin-top:10%;
    //height:400px;
}
  .modal-content{
    //margin-top:150px !important;
    background-color:rgba(0,0,0,0.6);
    //height:400px;


    .modal-header{
      border: 0 !important;
    }

    .modal-body{
      margin:0 auto;
      margin-top:100px;
      //height:300px !important;

      @include backImg("/pc/image/index/pic/building.png", 400px, 120px);
    }

    .modal-footer{
      height: 150px !important;
      border:0 !important;
    }

    .close{
      color:white;
    }
  }
}




/*!
share plugin
*/



//remove share plugin info
.ckepopBottom{
  display:none;
}
.centerBottom{
  display:none;
}

.shared{
.jiathis_style_32x32{
  span.jtico{
  }

  .jiathis_button_weixin span{
    background: url(/pc/image/shared/4_h.png) no-repeat left !important;
    background-size:32px 32px !important;
  }
  .jiathis_button_t163 span{
    background: url("/pc/image/shared/5_h.png") no-repeat left !important;
    background-size:32px 32px !important;
  }
  .jiathis_button_xiaoyou span{
    background: url("/pc/image/shared/1_h.png") no-repeat left !important;
    background-size:32px 32px !important;
  }
  .jiathis_button_tsina span{
    background: url("/pc/image/shared/2_h.png") no-repeat left !important;
    background-size:32px 32px !important;
  }
  .jiathis_button_qzone span{
    background: url("/pc/image/shared/3_h.png") no-repeat left !important;
    background-size:32px 32px !important;
  }
  .jtico_jiathis{
    background: url("/pc/image/shared/6.png") no-repeat left !important;
    background-size:32px 32px !important;
  }
}
}

