@import "mixin/image";

.normal-nav{
  position: relative;

nav{
  a{
    display:block;

    img{
      width:100%;
      height:100%;
    }
  }

  li.hotnews a{
    //@include backImg("/pc/image/nav/hotnews.png", 100%, 100%);
  }
  li.description a{
    //@include backImg("/pc/image/nav/description.png", 100%, 100%);
  }
  li.comment a{
    //@include backImg("/pc/image/nav/comment.png", 100%, 100%);
  }
  >ul {
    > li {
      width: 210px;
      height: 90px;
      text-align: center;
      display: table;
      margin-right: 20px;
      float: left;
      cursor: pointer;

      a{
        height:90px;
      }
    }
  }
  >ul.clearfix{
    height:100%;
  }


    .dropdown{
      position:absolute;
      z-index:1000;
      left:230px;
      top:80px;
      width:210px;
      //border:1px solid red;
      display:none;
      background-image:url("/pc/image/bg/dropdown.png");
      background-repeat: no-repeat;
      background-size:100% 100%;

      li{
        width:100%;
        height: 50px;
        line-height:50px;

        &:hover{
          background-color:rgb(87, 52, 173);
        }

        a{
          font-weight:bolder;
          display:block;
          width:100%;
          height:100%;
          color:rgb(43,35,91);

          &:hover{
            color:#ffffff;
            text-decoration:none;
          }
        }
      }
    }
}

  .bird{
    display:block;
    position:absolute;
    @include absolute(100px, 100px, -20px, -30px);

    img{
      width:100%;
      height:100%;
    }
  }

  .download, .go-try-play{
    display:block;
    @include absolute(254px, 112px, -10px, 705px);

    img{
      width:100%;
      height:100%;
    }
  }

  .go-try-play{
    cursor: pointer;
  }

  .download:hover + .download-dropdown{
    display:block;
  }
  .download-dropdown {
    position: absolute;
    z-index: 1000;
    right: 0;
    top: 90px;
    width: 254px;
    background-image: url("/pc/image/bg/dropdown.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top:10px;
    display:none;

    &:hover{
      display:block;
    }

    li {
      width: 100%;
      height: 50px;
      line-height: 50px;
      text-align:center;

      a {
        font-weight: bolder;
        display: block;
        width: 100%;
        height: 100%;
        color: rgb(43, 35, 91);
      }
      span{
        display:block;
      }
    }
    .icon{
      height:100px;
      img{
        width:100px;
        height:100px;
      }
    }
    .code{
      height:100px;
      img{
        width:100px;
        height:100px;
      }
    }
    .text{
      height:50px;

      span{
        color:white;
        font-size:20px;
        font-weight: bold;
      }
    }
  }
}
