@import "mixin/global";

.container{
  position:relative;
  margin-top:460px;

  .content{
    width:658px;

    .header{
      margin-top:30px;
      //width: 550px;

      &:after {
        content: "";
        border: 1px solid rgb(210,210,210);
        width: 100%;
      }

      &>ul{
        margin-left: 5px;
        float:left;
        //display:block;
        padding-bottom:5px;

        .line{
          border: 5px solid red;
          width: 0px;
          height: 32px;
          height:22px \9;
        }

        h1{
          margin: 0;
          margin-left: 5px;
          margin-top: 1px;
          max-width:420px;

          color: rgb(222,102,102);
          @include font-header-big;
        }
      }


      .breadcrumb{
        float: right;
        //display:block;
        background-color: transparent;
        margin: 0;
        @include font-small;
        
        a{
          color: rgb(95, 86, 103) !important;
        }

        > li + li:before{
          content: ">" !important;
        }
      }
    }

    #content{
      margin-top:20px \9;
    }
  }

  .right-column{
    position: absolute;
    left:705px;
    top:130px;
    //width: 215px;

    >img{
      width: 254px;
      height: 120px;
    }

    hr{
      margin-top: 40px;
      margin-bootom: 40px;
border-top: 1px solid rgb(210,210,210);
    }
  }
}


