<% include ../header.ejs %>
<h1>游戏介绍类别</h1>
<ul class="category-list">
    <% for(var i = 0, len = descriptionCategory.length; i < len; i++){%>
    <li class="clearfix">
        <span><%= descriptionCategory[i].name %></span>
        <div>
            <a class="update" href="#" onclick="index.showUpdatePage('/pc/admin/descriptionCategory/updatePage','<%= descriptionCategory[i]._id %>')">修改</a>
            <!--<a class="update" href="/pc/admin/descriptionCategory/updatePage?id=<%= descriptionCategory[i]._id %>">修改</a>-->
            <a class="delete" href="#" onclick="index.delete('/pc/admin/descriptionCategory','<%= descriptionCategory[i]._id %>')">删除</a>
        </div>
    </li>
    <% }%>
</ul>
<ul>
    <li class="add">
        <a href="/pc/admin/descriptionCategory/addPage">添加</a>
    </li>
</ul>
<% include ../footer.ejs %>

<script src="/pc/js/bower_components/jquery-sortable/source/js/jquery-sortable.js"></script>
<script src="/pc/js/admin/descriptionCategory/index.js"></script>

<% include ../footerHtml.ejs %>
